@{
    ViewBag.Title = "Contact";
}

@*Contact Us*@

<div class="row">
    <div class="log-in-message contact-message col-sm-6 col-sm-offset-3">
        <h2 class="center"><strong>Contact Us</strong></h2>
        <div class="container center">
            <p>
                For any inquiries about this site or your subscription, please contact:
            </p>

            @*Contact Us - Address Information*@

            <address>
                One Resume Way<br />
                Louisville, KY 33333-3333<br />
                <abbr title="Phone">P:</abbr>
                333.333.3333
            </address>
            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            </address>

        </div>
    </div>
</div>