@model ResumeWorkspace.Models.Person
@{
    ViewBag.Title = "Home Page";
}


<h1>You are logged in @Model.Name!</h1>

<div class="jumbotron">
    <h1>Welcome back to your Resume Workspace!</h1>
    <p class="lead">This repository site allows you to document all aspects of your professional career for a detailed and continuous timeline of your accomplishments.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Let's get to Work</h2>
        <p>
            Start reviewing and updating your workspace now!
        </p>
        <p><a class="btn btn-default" href="@Url.Action("About", "Home")">@Model.Name</a></p>
    </div>
</div>