@model ResumeWorkspace.Models.Certification

@section Home_About {
    <link href="@Url.Content("~/Content/employment_employment.css")" rel="stylesheet" type="text/css" />
    <script>
        $('.form-control').prop('readonly', true);
        $('.form-control').removeClass("datepicker");
    </script>
}

<h2 class="form-title"><strong>Delete Certification</strong></h2>

<h4 class="center"><strong>Are you sure you want to delete?</strong></h4>

@Html.Partial("~/Views/Certification/_Certification.cshtml")


