@model ResumeWorkspace.Models.Certification

@section Home_About {
    <link href="@Url.Content("~/Content/employment_employment.css")" rel="stylesheet" type="text/css" />
}

<h2 class="form-title"><strong>Edit Certification</strong></h2>

@Html.Partial("~/Views/Certification/_Certification.cshtml")


