body {
    background-color: #bfbfbf;
}

.body-content {
    padding: 30px 30px 40px 30px;
    max-width: 800px;
}

.form-title {
    text-align: center;
    padding-bottom: 30px;
}

.form-sub-title {
    text-align: center;
    padding-bottom: 20px;
}

.form-btn {
    padding-top: 30px;
}

.validation-summary-valid {
    display: none;
}

.validation-summary-errors {
    border-style: solid;
    border-color: #b94a48;
    border-width: 5px;
}

@media screen and (max-width: 768px) {
    .body-content {
        padding: 10px 15px 40px 15px;
    }

    .form-title {
        padding-bottom: 20px;
    }
}