body {
    color: red;
}

.section-top {
    font-size: 2.25em;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    padding: 10px;
}

.section-next-emp {
    font-size: 1.75em;
    padding: 10px;
}

.section-next {
    font-size: 1em;
    padding: 10px;
}

.btn-space {
    margin-right: 10px;
}