body {
    background-color: #e6e6e6;
}

.section-top {
    font-size: 2.25em;
    border-style: solid;
    border-color: #bfbfbf;
    background-color: #bfbfbf;
    border-width: 2px;
    padding: 10px;
}

.section-next-emp {
    font-size: 1.75em;
    padding: 25px 10px 10px 10px;
}

.section-next-position {
    font-size: 1.50em;
    padding: 10px;
}

.section-next-position-header {
    background-color: #bfbfbf;
}

.section-next-edu {
    font-size: 1.25em;
    padding: 10px 10px 0px 10px;
}

.section-next-accomplishments,
.section-next-contacts {
    font-size: 1.25em;
    padding-top: 15px;
    padding-left: 10px;
}

.section-next-accomplishments .acc,
.section-next-contacts .con{
    font-size: 0.80em;
    padding-top: 5px;
    padding-left: 5px;
}

.border-group {
    border-style: dotted;
    border-color: #ffffff;
    border-width: 5px;
    margin-top: 5px;
    padding-right: 0px;
    padding-left: 0px;
}

.section-details {
    font-size: 1em;
    padding: 10px;
}

.section-details-edu {
    padding: 5px;
}

.col-rm-lf-pd {
    padding-left: 0px;
}


@media screen and (min-width: 992px) {
    .position-indent {
        padding-left: 50px;
    }
}