html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 40px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 10px 15px 50px 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}

.footer {
    padding-top: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #222222;
    text-align: center;
    color: #999999;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.v-align {
    display: inline-block;
    vertical-align: middle;
}

.center {
    text-align: center;
}

.btn-space {
    margin-right: 10px;
}

.row {
    margin: 0;
}

.jumbotron {
    padding: 20px;
    background-color: #bfbfbf;
}

.jumbotron p {
    padding-top: 10px;
}

.log-in {
    padding-bottom: 20px;
}

.log-in-message {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 6px;
    background-color: #bfbfbf;
}

.contact-message {
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    .log-in {
        font-size: 1.25em;
        text-align: center;
    }
}

@media screen and (min-width: 600px) {
    .log-in {
        float: right;
    }
}