@model ResumeWorkspace.Models.Education

@section Home_About {
    <link href="@Url.Content("~/Content/employment_employment.css")" rel="stylesheet" type="text/css" />
}

<h2 class="form-title"><strong>Edit Education</strong></h2>

@Html.Partial("~/Views/Education/_Education.cshtml")

