@model ResumeWorkspace.Models.Skill

@section Home_About {
    <link href="@Url.Content("~/Content/employment_employment.css")" rel="stylesheet" type="text/css" />
}

<h2 class="form-title"><strong>Edit Skill</strong></h2>

@Html.Partial("~/Views/Skill/_Skill.cshtml")


